*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #5ad3f8, rgba(224, 217, 249, 0.533));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #56d0ee;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.todo-app h2{
    color: #ed5a5a;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2:hover{
    color: rgb(11, 11, 11);
}

.todo-app h2 img{
    width: 40px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #d1cdcd;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    outline-color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button:hover{
    background-color: #f73e2a;
    color: rgb(253, 251, 251);
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor:pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(Images/images/unchecked.png);
    background-size: cover;
    background-position: center;
    margin-left: -50px;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(Images/images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #d1cdcd;
}